
<footer>
    <div class=" container footer">

    <div class="contatos">
        <p>Contatos:</p>
        <p>Fone: (71) 2222-2222</p>
        <p>E-mail: gamemania@gmail.com</p>
        <p>Whatsapp: (71) 99999-9999</p>
    </div>
    <div class="localizacao">
        <p>LOCALIZAÇÃO: </p>
        <p>AV. PAULO VI 1399, PITUBA SALVADOR - BA</p>
    </div>
    <div class="siga"> <p> SIGAM NOSSAS REDES SOCIAS:</p></div>
    <nav class="redes">
    <a href=""> <img src="/assets/img/INSTA 1.svg" alt="Ícone Instagram"></a>
    <a href=""> <img src="/assets/img/FACE 3 1.svg" alt="Ícone Facebook"></a>
    <a href=""> <img src="/assets/img/TWITTER 1.svg" alt="Ícone Twitter"></a>
    </nav>
    </div>

</footer>
