


footer{
    background-color: #010101;
    height: 9vw; 
 }

 .footer{
     display: flex;
     justify-content:space-between;
     align-items: center;
     height: 10vw;

 }

 .contatos{
    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    height: 5vw;
    width: 20vw;
    line-height: 0.5;
      }

.localizacao{

    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    width: 13vw;
    line-height: 1.5;
    font-size: 1vw;
    
}
.siga{
    color: white;
     text-transform: uppercase;
     font-family: 'Inter', sans-serif;
     width: 10vw;
     height: 5vw;
     font-size: 1vw;
}

.redes img{
   
    align-items: center;
    width: 8vw;
    padding: 2vw;
}



@media screen and (max-width: 1200px){
    .contatos{
        display: none;
    }
    .localizacao{
        display: none;
    }
    .siga{
        display: none;
    }
    .siga p{
      display: none;
    }

   .redes{
       width: 100vw;
       display: flex;
       justify-content: space-around;
       height: 10vw;
   }
   .siga img {
    height: 10vw;
    width: 10vw;
}
}
