
/*background: linear-gradient(89.84deg, #0A64CE 0.17%, #010101 98.9%);*/
 
body{
        padding-bottom: 1vw;
        background-image: url(/assets/img/fundo\ 2.jpg);
        padding-top: 0.5vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
      
        }


     

  #carrossel{ 
            width: 88vw;
            height: 30w;
               
}


 .geral{
            display: flex;
            justify-content: center;
            height: 21vw;
            
 }
 

.banner-1{
   background-image: url(/assets/img/banner.png);
   width: 1320px;
   height: 400px;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


.banner-2 {
  background-image: url(/assets/img/background\ 2.png);
    width: 1320px;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-3 {
   background-image: url(/assets/img/background\ 3.png);
    width: 1320px;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.game-mania{
    font-size: 4vw;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
    
  
}

.melhores-marcas{
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    position:relative;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}


.carousel-inner {
   padding-top: 1vw;
   padding-bottom: 1vw;
    width: 83vw;
    height: 27vw;
    
}

.cacarousel-inner img {
    height: 445px;
    width: 1320px;
}


.produtos{
    display: flex;
    height: 25vw;
    justify-content: space-between;
    padding-top: 1vw;
   

}

.produtos-2{
     display: flex;
    justify-content:space-between;
    height: 25vw;
   

}

.zoom{
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.zoom:hover img {
    -moz-transition: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.produtos img{
    
    width: 15vw;
    height: 23vw;
}

.produtos-2 img{
    width: 15vw;
    height: 23vw;
    padding-top: 1vw;
}

.ofertas{
    background-color: #FF0202;
    width: 40vw;
    height: 4vw;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;

}

.ofertas p {
    height: 2vw;
   font-family: 'Inter' sans-serif;
   font-weight: 900;
   font-size: 2vw;
   color: #FFFFFF;
   text-transform: uppercase;
   position: absolute;
}


@media screen and (max-width:1300px) {
    .container{
        width: 90vw;
    }
}

@media screen and (max-width: 1800px){

    .geral{
        display: flex;
        justify-content: center;
        height: 29vw;
}
.produtos img{
    
    width: 17vw;
    height: 23vw;
}

.produtos-2 img{
    width: 17vw;
    height: 23vw;
    padding-top: 1vw;
}

.carousel-inner {
    padding-top: 1vw;
    padding-bottom: 1vw;
     width: 90vw;
     height: 30vw;
     
 }
}


@media screen and (max-width: 1200px){

    .geral{
        display: flex;
        justify-content: center;
        height: 29vw;
}

 
    #barras{
       display: inline-block;
    }

    .game-mania{
        font-size: 2vw;

    }
    .melhores-marcas {
        font-size: 2vw;
    }
    
    .cabecalho-2{
        display: none;
    }
    .pesquisa{
        display: none;
    }


    .menu-links {
        display: none;
    }

    .ofertas{
        display: none;
    }

    .menu-links{
        display: none;
        height: 5vw;
        width: 10vw;
        position: absolute;
        top: 0px;
        left: 15vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
        background-color: #2D0DF1;
        
    }

    .contatos{
        display: none;
    }
    .localizacao{
        display: none;
    }
    .siga{
        display: none;
    }
    .siga p{
      display: none;
    }
    .siga img {
     size: 10vw;
    }
   
  
  #carrossel{ 
    width: 90vw;
    height: 29vw;
   
}

}

