

   <body>
     
    <section class="banner-geral">
    <div  class="container geral">
    <div id="carrossel" class="banner-1">
        <h1 class="  game-mania">Game Mania</h1>
        <p class="melhores-marcas">As melhores marcas em um só lugar</p>
    </div>
    </div>
    
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" >
        <div class="carousel-inner container">
          <div class="carousel-item active">
            <img src="/assets/img/banner ps5.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/iphone 1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/headset.png" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
    
    <div class=" produtos-geral">
     
    <div class=" container produtos">
     <a class="zomm" href="#"> <img  class="img-responsive " src="/assets/img/PC 1.png" alt="Pc Game "></a>
     <a class="zomm" href="#"><img src="/assets/img/CADEIRA 1.png" alt="Cadeira gamer"></a>
     <a class="zomm" href="#"> <img src="/assets/img/psa5 1.png" alt=" Play Station cinco"></a>
     <a class="zomm" href="#"> <img src="/assets/img/ciber.jpg" alt="Ciber Punk"></a>
    </div>
    <div class=" container ofertas">
        <p>Grandes Ofertas</p>
    </div>
    <div class=" container produtos-2">
     <a class="zomm"  href="#"> <img src="/assets/img/celular 1.png" alt="iphone onze">  </a>
     <a class="zomm" href="#"> <img src="/assets/img/PS4-Pro-Spider-Man-Edition-2-SOURCE-Sony 1.png" alt="Play Station 5 spider man"></a>
     <a class="zomm" href="#"> <img src="assets/img/not 1.png" alt="Notbook"></a>
     <a class="zomm" href="#"> <img src="/assets/img/head.jpg" alt="headset"> </a>
    
    </div>
    
    </div>
    
    </section>
  </body>
    
  
